# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Vector database
vector_store/chroma/*
!vector_store/chroma/.gitkeep

# OS files
.DS_Store
Thumbs.db
