pandas
numpy
scikit-learn
matplotlib
plotly
pydantic
python-dotenv
pyyaml
joblib

kiteconnect
growwapi

langchain
langchain-openai
langchain-community
chromadb
tiktoken

great-expectations
mlflow

jupyter
ipykernel
pytest
